/* Define Color Scheme */
:root {
    --primary-color: #000000; /* Deep Orange */
    --secondary-color: #acb844; /* Green */
    --background-color: #ffffff; /* White */
    --text-color: #ffffff; /* Black */
    --header-background: #797c88; /* Indigo */
    --header-text-color: #ffffff; /* White */
}

/* Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Arial", sans-serif;
    background-color: rgba(255, 255, 255, 1); /* White */
    color: rgba(0, 0, 0, 1); /* Black */
}

/* Header Styling */
header {
    background-color: rgba(121, 124, 136, 1); /* Indigo */
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    color: rgba(255, 255, 255, 1); /* White */
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container h1 {
    font-family: "Arial", sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1); /* White */
}

.header-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1); /* White */
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Navigation Links */
nav {
    margin-left: auto;
}

.navbar-nav {
    margin-left: auto;
    opacity: 1;
}

.navbar-nav .nav-link.active {
    background-color: transparent;
    color: rgba(172, 184, 68, 1); /* Green */
    border-bottom: 2px solid rgba(172, 184, 68, 1); /* Green */
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

/* Video Banner */
#video-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Main Section Styling */
main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: rgba(0, 0, 0, 1); /* Black */
    margin-bottom: 10px;
}

/* About Section */
#about {
    margin-top: 40px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(172, 184, 68, 1); /* Green */
    padding: 20px;
    border-radius: 1rem;
}

.about-details {
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-container-1 .about-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgba(255, 255, 255, 1); /* White */
}

.about-container-1 .about-text h3 {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1); /* Black */
}

.about-container-1 .about-text p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1); /* White */
}

.about-image {
    border-radius: 8px;
    width: 300px; /* Set a fixed width */
    max-width: 25%; /* Ensure it is responsive */
}

/* Academic Section */
#academic {
    margin-top: 40px;
}

.academic-container {
    background-color: rgba(255, 255, 255, 1); /* White */
    color: rgba(0, 0, 0, 1); /* Black */
}

.academic-container h4 {
    color: rgba(0, 0, 0, 1); /* Black */
}

.academic-container p {
    color: rgba(255, 255, 255, 1); /* White */
}

.academic-container .image-container img {
    height: 300px; /* Set the height to match the slider */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 8px; /* Apply border-radius */
}

.academic-image {
    border-radius: 8px;
}

/* Culture Section */
#culture {
    margin-top: 40px;
}

.culture-container {
    background-color: rgba(255, 255, 255, 1); /* White */
    color: rgba(0, 0, 0, 1); /* Black */
}

.culture-container h4 {
    color: rgba(0, 0, 0, 1); /* Black */
}

.culture-container p {
    color: rgba(255, 255, 255, 1); /* White */
}

/* Leading Self India Section */
#leading-self-india {
    margin-top: 40px;
}

.leading-container {
    background-color: rgba(0, 0, 0, 1); /* Black */
    color: rgba(255, 255, 255, 1); /* White */
}

.leading-container h4 {
    color: rgba(0, 0, 0, 1); /* Black */
}

.leading-container p {
    color: rgba(255, 255, 255, 1); /* White */
}

/* Exposure Slider */
.exposure-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    height: 100%;
}

.exposure-slider img {
    width: 100%;
    display: block;
}

.exposure-slider .carousel-control-prev,
.exposure-slider .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    background: none;
    color: white;
}

/* Exposure Section */
.exposure-section .container {
    padding-top: 10px; /* Add vertical padding between the containers */
    padding-bottom: 10px; /* Add vertical padding between the containers */
    color: rgba(0, 0, 0, 1); /* Black */
}

.exposure-section .row {
    padding-top: 10px; /* Add top padding to each row */
    padding-bottom: 10px; /* Add bottom padding to each row */
}

/* Goal Setting Section */
.goal-setting-container {
    display: flex;
    justify-content: center; /* Center the elements horizontally */
    gap: 20px;
    flex-wrap: wrap; /* Ensure images wrap to the next line if necessary */
    margin-top: 20px;
    text-align: left; /* Align the text to the left */
    color: rgba(0, 0, 0, 1); /* Black */
}

.goal-setting-content {
    flex: 1;
    max-width: 30%; /* Reduce the horizontal space taken by the title and paragraph */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: flex-start; /* Align the content to the left */
    text-align: center; /* Center the text */
}

.goal-setting-content h4 {
    color: rgba(0, 0, 0, 1); /* Black */
}

.goal-setting-content p {
    color: rgba(255, 255, 255, 1); /* White */
}

.goal-setting-image {
    position: relative;
    flex: 1;
    max-width: 48%; /* Ensure both images are of the same scale */
    height: 300px; /* Set a fixed height for both images */
    display: flex;
    align-items: center; /* Center the content vertically */
}

.goal-setting-image img {
    width: 100%;
    height: 100%; /* Ensure the image covers the entire container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 8px;
}

.goal-setting-image.portrait {
    max-width: 16%; /* Make the first image smaller */
    height: 300px; /* Ensure the portrait image matches the height of the slider */
    display: flex;
    align-items: center; /* Center the content vertically */
}

.goal-setting-image.portrait img {
    object-fit: contain; /* Adjust portrait image to fit within the container */
}

.goal-setting-image.slider {
    flex: 1; /* Ensure the slider fits within the section */
    height: 300px; /* Ensure the slider matches the height of the first image */
    display: flex;
    align-items: center; /* Center the content vertically */
    overflow: hidden; /* Ensure the slider does not exceed the container size */
}

.goal-setting-image .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Set the height of the overlay bar */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 0; /* Ensure the overlay is correctly positioned */
    bottom: 0; /* Ensure the overlay is correctly positioned */
}

.goal-setting-image:hover .overlay {
    opacity: 1;
}

/* Overlay for Image and Slider */
.image-container {
    position: relative;
}

.image-container .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Set the height of the overlay bar */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.carousel-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Set the height of the overlay bar */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.carousel-item:hover .overlay {
    opacity: 1;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
    }

    .header-container {
        gap: 10px;
    }

    .header-image {
        width: 40px;
        height: 40px;
    }

    header h1 {
        font-size: 1.5rem;
        white-space: normal;
        text-align: left;
    }

    .about-details {
        flex-direction: column;
        align-items: center;
    }

    #about {
        padding: 20px;
        margin: 20px 0;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-image {
        width: 80%;
        max-width: 300px;
    }

    .about-container p {
        margin-top: 20px;
    }

    #video-banner {
        height: 60vh;
    }

    .exposure-section .container {
        padding-top: 20px; /* Add vertical padding between the containers */
        padding-bottom: 20px; /* Add vertical padding between the containers */
    }

    .exposure-section .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .exposure-section .col-md-4 {
        flex: 0 0 48%; /* Show only 2 containers next to each other */
        max-width: 48%;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(121, 124, 136, 1); /* Indigo */
    color: rgba(255, 255, 255, 1); /* White */
}

/* New Content Below Button */
.new-container {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1); /* White */
    padding: 20px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 1); /* Black */
}

.new-container h4 {
    color: rgba(0, 0, 0, 1); /* Black */
}

.new-container p {
    color: rgba(255, 255, 255, 1); /* White */
}

.new-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.new-container.in-for-treat {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 0.8rem;
    background-color: rgba(224, 247, 250, 1); /* Light Blue */
    color: rgba(0, 0, 0, 1); /* Black */
}

.new-container.in-for-treat .new-container {
    flex: 1;
    max-width: 90%;
    background-color: rgba(224, 247, 250, 1); /* Light Blue */
    padding: 10px;
    color: rgba(0, 0, 0, 1); /* Black */
}

.new-container.in-for-treat img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.new-container.bonding-over-lunch {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: lavender;
    padding: 20px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 1); /* Black */
    justify-content: space-between;
}

.new-container.bonding-over-lunch img {
    flex: 1;
    max-width: 50%;
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.new-container.bonding-over-lunch .content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-container.bonding-over-lunch h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 1); /* Black */
}

.new-container.bonding-over-lunch p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1); /* White */
}

.art-sessions-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Ensure images wrap to the next line if necessary */
}

.art-sessions-container .new-container {
    flex: 1;
    max-width: 24%; /* Ensure all images are of the same scale */
    background-color: rgba(249, 249, 249, 1); /* Light Grey */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 1); /* Black */
}

.art-sessions-container h4 {
    color: rgba(0, 0, 0, 1); /* Black */
}

.art-sessions-container p {
    color: rgba(255, 255, 255, 1); /* White */
}

.art-sessions-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
