:root{
    --lavender-lighest: #F5EFFF;
    --lavender-light: #E5D9F2;
    --lavender-medium: #CDC1FF;
    --lavender-dark: #A294F9;
    --lavender-darkest: #7A6BFF;

    --text-light: #FFFFFF;
    --text-dark: #102A43;

    --primary-green: #B4D6CD;
    --primary-yellow: #FFDA76;
    --primary-orange: #FF8C9E;
    --primary-pink: #FF4E88;
}
.volunteers-section {
    text-align: center;
    padding: 50px 0;
}

.volunteers-section h2 {
    margin-bottom: 30px;
}

.volunteers-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteers-row div {
    margin: 20px;
    text-align: center;
}

.volunteers-row h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.banner {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    border-bottom: 1px solid #dee2e6;
}
