:root{
    --lavender-lighest: #F5EFFF;
    --lavender-light: #E5D9F2;
    --lavender-medium: #CDC1FF;
    --lavender-dark: #A294F9;
    --lavender-darkest: #7A6BFF;

    --text-light: #FFFFFF;
    --text-dark: #102A43;

    --primary-green: #B4D6CD;
    --primary-yellow: #FFDA76;
    --primary-orange: #FF8C9E;
    --primary-pink: #FF4E88;
}

.parallax {
    background-image: url('../media/year_2/imgs/celebration_4.jpeg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.parallax-title, .parallax-subtitle {
    position: static;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.parallax-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* Padding inside the box */
    border: 5px solid white; /* Add border */
    z-index: 2;
    text-align: center;
}

.parallax-title {
    font-size: 3rem;
}

.parallax-subtitle {
    font-size: 2rem;
}

.card {
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--primary-yellow);
}

.card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.card .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card .card-img {
    border-radius: 10px;
    border-radius: 10px;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-position: top;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.image-container {
    position: relative;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
}
