:root {
    --bg-light: #E5D9F2;
    --bg-dark: #CDC1FF;
    --primary: #334E68;
    --secondary: #486581;
    --accent: #F7D070;
    --text-light: #FFFFFF;
    --text-dark: #102A43;
}

#yearone {
    background-color: var(--bg-light);
}

.custom-borders{
    /* border: 2px solid ; */
    background-color: #ffffff;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.school-image, .school-description, .student-image, .student-description {
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.school-image, .school-description {
    display: flex;
    align-items: center;  /* Vertically align content */
    justify-content: center; /* Horizontally center content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.school-image {
    width: 40%;  /* Set a fixed width for the image container */
}

.school-description {
    width: 60%;  /* Set a fixed width for the description container */
    padding-left: 20px;  /* Add some space between the image and the description */
}

.school-image img {
    width: 100%; /* Ensure the image fills the container */
    height: auto;
    object-fit: cover; /* Ensures the image doesn't stretch and maintains aspect ratio */
    border-radius: 10px;
}

.carousel-item img {
    transition: transform 0.6s ease-in-out;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Add corner radius to the slider images */
}

.school-description h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary);
}

.school-description p {
    font-size: 16px;
    color: var(--secondary);
    line-height: 1.6;
}

.school-image img, .student-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.challenge, .solution, .data, .exposure, .high-lows {
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin-top to create space */
}

.challenge {
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin-top to create space */
    width: 48%; /* Ensure two containers are displayed next to each other */
    margin-right: 2%; /* Add margin-right to create space between containers */
}

.challenge:nth-child(2n) {
    margin-right: 0; /* Remove margin-right for every second container */
}

.challenge:nth-child(3) {
    clear: both; /* Ensure the third container starts a new row */
    margin-right: 2%; /* Add margin-right to create space between containers */
}

.challenge:nth-child(4) {
    margin-right: 0; /* Remove margin-right for the fourth container */
}

.challenge h3, .solution h3, .data h3, .exposure h3, .high-lows h3 {
    font-size: 20px; /* Reduce font size for the title */
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center the title in the container */
    color: var(--primary);
}

.challenge p, .solution p, .data p, .exposure p, .high-lows p {
    font-size: 16px; /* Reduce font size for the paragraphs */
    color: var(--secondary);
    line-height: 1.6;
}

/* Remove transform: scale(1) as it can cause unexpected resizing */
.carousel-item img {
    transition: ease-in-out;
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image doesn't stretch */
    border-radius: 10px; /* Add corner radius to the slider images */
}

/* If you're trying to prevent scaling during the transition */
.carousel-item-next img,
.carousel-item-prev img {
    transform: none; /* Ensure no scale is applied to images during transition */
}

/* Custom CSS for overlay as a banner at the bottom */
.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
    bottom: 0; /* Position at the bottom */
    left: 0;
    right: 0;
    text-align: left; /* Align text to the left */
    opacity: 1; /* Always visible */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    width: 100%; /* Ensure the overlay covers the entire width of the image */
    max-width: 100%; /* Prevent overflow */
}

.carousel-caption h5, .carousel-caption p {
    color: var(--text-light); /* White text color */
    margin: 0; /* Remove default margin */
}

.carousel-caption h5 {
    padding: 10px;
    border-radius: 5px;
}
    
.graph-container {
  max-width: 500px; /* Increase the maximum width for the graph container */
  margin: 0 10px; /* Add some margin to separate the graphs */
  padding: 20px; /* Add some padding */
  background-color: var(--bg-dark); /* Light background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  height: 500px; /* Adjust the height of the graph container */
}

.card {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure all cards have the same height */
}

.card-body {
  flex: 0; /* Allow the card body to grow and fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure the content is spaced evenly */
  padding: 1rem; /* Ensure consistent padding */
}

.card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* Number of lines to show */
  -webkit-box-orient: vertical;
  line-clamp: 7; /* Number of lines to show */
  box-orient: vertical;
  transition: max-height 0.3s ease; /* Smooth transition for expanding */
  max-height: 10.5em; /* Adjust based on line height */
  margin-bottom: 1rem; /* Ensure consistent margin */
}

.card-body.expanded p {
  -webkit-line-clamp: unset; /* Remove line clamp */
  line-clamp: unset; /* Remove line clamp */
  max-height: none; /* Allow full height */
  overflow: auto; /* Add scroll */
}

.card-body p {
  overflow: visible;
  text-overflow: clip;
  display: block;
  -webkit-line-clamp: unset; /* Remove line clamp */
  -webkit-box-orient: unset;
  line-clamp: unset; /* Remove line clamp */
  box-orient: unset;
  max-height: none; /* Allow full height */
  margin-bottom: 1rem; /* Ensure consistent margin */
}

.card-body.d-flex {
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.ml-0 {
    margin-left: 0 !important;
}

.card-body h3 {
  margin-bottom: 1rem; /* Ensure consistent margin */
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.219);
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.card-title, .card-text {
  margin: 0;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 66.67%; /* 3:2 aspect ratio */
    overflow: hidden;
    border-radius: 10px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-container-1-1 {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* 1:1 aspect ratio */
    overflow: hidden;
    border-radius: 10px;
}

.image-container-1-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-container-4-3 {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* 4:3 aspect ratio */
    overflow: hidden;
    border-radius: 10px;
}

.image-container-4-3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Add background color to the navigation icons */
    border-radius: 50%; /* Make the icons circular */
    padding: 10px; /* Add padding to the icons */
}

.lows-image {
    width: 15%; /* Adjust the width as needed */
    margin-right: 20px; /* Add some space between the image and the paragraph */
}

.card-body .flex-grow-1 {
    flex: 1;
    max-width: calc(100% - 15% - 20px); /* Ensure the paragraph doesn't span the full width */
}

.image-div, .paragraph-div {
    background-color: var(--bg-light);
    padding: 10px; /* Reduce padding to 10px */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Ensure the content is stacked vertically */
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}

.image-div {
    width: 25%; /* Set the width of the image div to 25% */
}

.paragraph-div {
    width: 85%; /* Set the width of the paragraph div to 85% */
}

.paragraph-div p {
    font-size: 16px;
    color: var(--secondary);
    line-height: 1.6;
    margin: 10px; /* Add margin of 10px on all sides */
    align-self: center; /* Center the paragraph horizontally */
}

.image-div img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.parallax {
    background-image: url('../media/year_1/imgs/exam_study.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1.text-center {
    padding-top: 0.5rem; /* Reduce top padding */
    padding-bottom: 1rem; /* Keep bottom padding */
}



