:root{

    --text-light: #FFFFFF;
    --text-dark: #FFFFFF;

    --primary-green: #191825;
    --primary-yellow: #191825;
    --primary-orange: #E384FF;
    --primary-pink: #FFA3FD;
}

.parallax {
    background-image: url('../media/year_2/imgs/celebration_4.jpeg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.parallax-title, .parallax-subtitle {
    position: static;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    white-space: nowrap; /* Prevent text from wrapping */
}

.parallax-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* Padding inside the box */
    border: 5px solid white; /* Add border */
    z-index: 2;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
}

.parallax-title {
    font-size: 3rem;
}

.parallax-subtitle {
    font-size: 2rem;
}

.card {
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--primary-yellow);
    border: 5px solid var(--text-light); /*Add border */
}

.card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.card .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card .card-img {
    border-radius: 10px;
    border-radius: 10px;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-position: top;
}

.image-container {
    position: relative;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.151); /* Make overlay visible all the time */
    color: #fff;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    opacity: 1; /* Ensure overlay is always visible */
    transition: none; /* Remove transition */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
}

#academic-outcome {
    background-color: var(--primary-green);
    color: var(--text-dark);
    padding: 40px 0;
}

#mychart {
     display: block; 
     height: 300px; 
     width: 300px;
}
.chart-title{
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--text-light);
    text-align: center;
    padding-top: 10px;
}
.academic-graph {
    margin: auto;
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 65rem;
    gap: 3rem;
    width: 100%;
    text-align: center;
    max-width: 1000px;
    border-radius: 10px;
    background: var(--primary-green);
    border: 5px solid var(--text-light);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.academic-title {
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--text-light);
}

.academic-subtitle {
    font-size: 18px;
    color: var(--text-light);
    margin-bottom: 0px;
}

.academic-chart {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.academic-progress {
    position: relative;
    width: 15%;
    height: 120px; /* Increase height */
    margin: 10px;
}

.academic-progress svg {
    transform: rotate(-90deg);
}

.academic-progress circle {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
}

.academic-bg {
    stroke: #eeeeee2d;
}

.academic-bar {
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
    transition: stroke-dashoffset 1s ease-in-out;
}

.academic-progress span {
    position: absolute;
    top: 35%; /* Adjusted top property */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-dark);
    line-height: 1; /* Ensure the text is vertically centered */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Ensure the text is horizontally centered */
}

.academic-label {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    /* white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; */
}

.academic-count {
    font-size: 14px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards */
}

.graph-container {
    max-width: 500px; /* Increase the maximum width for the graph container */
    margin: 0 10px; /* Add some margin to separate the graphs */
    padding: 20px; /* Add some padding */
    background-color: var(--primary-yellow); /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    height: 530px; /* Adjust the height of the graph container */
    border: 5px solid var(--text-light); /* Add white border */
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .parallax-title {
        font-size: 2rem;
        white-space: nowrap; /* Allow text to wrap */
    }

    .parallax-subtitle {
        font-size: 1.5rem;
        white-space: nowrap; /* Allow text to wrap */
    }

    .parallax-box {
        padding: 10px; /* Reduce padding inside the box */
        white-space: nowrap; /* Allow text to wrap */
    }

    .card {
        margin-bottom: 20px;
    }

    .academic-progress {
        width: 40%;
        height: 100px;
    }

    .academic-progress span {
        font-size: 14px;
    }

    .academic-label {
        font-size: 10px;
        
    }

    .academic-count {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .card-img-top {
        aspect-ratio: auto;
    }

    .image-container .overlay {
        font-size: 12px;
    }

    .graph-container {
        max-width: 100%;
        margin: 10px 0;
    }
}