#yearone {
    background-color: #F5EFFF;
    /* Add specific styles for Exposure Trips section */
}

.school-image, .school-description, .student-image, .student-description {
    background-color: #F5EFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

.school-image {
    /* Set the width of the school image div to 40% */
}

.school-description {
    /* Set the width of the school description div to 60% */
}

.student-image {
    /* Set the width of the student image div to 40% */
}

.student-description {
    /* Set the width of the student description div to 60% */
}

.school-description h3, .student-description h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.school-description p, .student-description p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.school-image img, .student-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.challenge, .solution, .data, .exposure, .high-lows {
    background-color: #F5EFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin-top to create space */
}

.challenge {
    background-color: #F5EFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin-top to create space */
    width: 48%; /* Ensure two containers are displayed next to each other */
    margin-right: 2%; /* Add margin-right to create space between containers */
}

.challenge:nth-child(2n) {
    margin-right: 0; /* Remove margin-right for every second container */
}

.challenge:nth-child(3) {
    clear: both; /* Ensure the third container starts a new row */
    margin-right: 2%; /* Add margin-right to create space between containers */
}

.challenge:nth-child(4) {
    margin-right: 0; /* Remove margin-right for the fourth container */
}

.challenge h3, .solution h3, .data h3, .exposure h3, .high-lows h3 {
    font-size: 20px; /* Reduce font size for the title */
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center the title in the container */
}

.challenge p, .solution p, .data p, .exposure p, .high-lows p {
    font-size: 16px; /* Reduce font size for the paragraphs */
    color: #555;
    line-height: 1.6;
}


